services:
  web:
    build: .
    volumes:
      - static_volume:/app/static
      - ./dio_website_cms/media:/app/media
      - ./dio_website_cms/db.sqlite3:/app/db.sqlite3
    env_file:
      - .env.prod
    ports:
      - "8000:8000"
    restart: unless-stopped

volumes:
  static_volume: