# Django
*.log
*.pot
*.pyc
__pycache__/
local_settings.py
db.sqlite3
db.sqlite3-journal

# Static files
/static/
/media/

# Environment
.env
.env.prod
.venv
venv/

# IDE
.vscode/
.idea/
*.swp
*.swo

# OS
.DS_Store
Thumbs.db

# Docker
.dockerignore
dio_website_cms/static/admin/
static/admin/
media/
