version: '3.8'

services:
  web:
    build: .
    volumes:
      - static_volume:/app/static
      - media_volume:/app/media
      - db_volume:/app/db.sqlite3
    env_file:
      - .env.prod
    ports:
      - "8000:8000"
    restart: unless-stopped

volumes:
  static_volume:
  media_volume: 
  db_volume: